body {
  background-color: #ECECEC;
}

.container {
  max-width: 800px;
  margin: 230px auto;
  flex: 1;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: row;
}

.input-error {
  color: red;
}

.input-container {
  flex-grow: 1;
  padding-right: 12px;
  width: 40%;
}

.info-text {
  margin-bottom: 12px;
}